$verde: #3BAC53;
$verdeO: #378844;
$verdeT: rgba(59, 172, 83, 0.69);
*{
  font-family: 'PT Sans Caption', sans-serif;
}
.text-white{
  color: white !important;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.pull-right{
  float: right;
}
.background-ean{
  background: $verde;
  ul{
    background: $verde;
    .ant-menu-item-selected{
      background-color: $verdeO !important;
    }
  }

}
.spin{
  text-align: center;
  margin-bottom: 0px;
  padding: 30px 50px;
}
.ant-btn-primary{
  background: $verde;
  border-color: $verde;
  &:hover, &:focus{
    background: $verdeO;
    border-color: $verdeO;

  }
}
.ant-layout-footer{
  background: black !important;
  color: white;
}
.ant-menu-item > a{
  &:hover{
    color: $verde;
  }
}
.ant-layout-sider-dark{

  .ant-menu-dark{
    background: black !important;
  }
  .ant-menu-item-selected{
    background: $verdeT !important;
    color: white;
    &:after{
      border-right: 3px solid $verde !important;
    }
  }
}
