$verde: #3BAC53;
$verdeO: #378844;
*{
  font-family: 'PT Sans Caption', sans-serif;
}
.text-white{
  color: white !important;
}
.text-center{
  text-align: center;
}
.pull-right{
  float: right;
}
.background-ean{
  background: $verde;
  ul{
    background: $verde;
    .ant-menu-item-selected{
      background-color: $verdeO !important;
    }
  }

}
.spin{
  text-align: center;
  margin-bottom: 0px;
  padding: 30px 50px;
}
.ant-btn-primary{
  background: $verde;
  border-color: $verde;
  &:hover, &:focus{
    background: $verdeO;
    border-color: $verdeO;

  }
}
.ant-layout-footer{
  background: black !important;
}